@page "/MyPage"

<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <a href="https://archman.us" target="_blank" rel="noopener"> <img src="https://archman.us/images/usa_3a.gif"
                    alt="USA Gif" /></a>
            <h2>Arch Brooks</h2>
            <div><img src="https://archman.us/images/amb01.png"></div><br>
            <p><a href="https://archman.us/b4/certified-nuclear-engineer" target="_blank">Certified
                    Nuclear Engineer</a></p>
            <p><a href="https://archman.us/b4/federal-executive/" target="_blank">Federal Executive</a></p>
            <p><a href="https://archman.us/b4/certified-statistician/" ,="" target="_blank">Certified Statistician</a>
            </p>
            <p><a href="https://archman.us/b4/airline-executive/" target="_blank">Airline Executive</a></p>
            <p><a href="mailto:arch@archbrooks.com">E Mail</a> us for professional services price quote.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="https://archman.us/pdf/ArchBrooksResume.pdf"
                        target="_blank">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://youtube.com/archman007" target="_blank">Youtube</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://archman.us/b4/blog" target="_blank">Web Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ibm.com/z/resources/zxplore" target="_blank">IBM Platform</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://mainframenation.com/mainframe/the-mvs-turnkey-system-tutorial/"
                        target="_blank">Open Source MVS</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <!--   <a href="" target="_blank"></a> -->
        <div class="col-sm-8">
            <h2>Solutions Approach</h2>
            <p>Earned <a href="https://archman.us/b4/nuclear-regulatory-commission/" target="_blank">certification</a>
                to
                write computer software in the construction, operation and maintenance
                of nuclear fueled power plants in the continental U. S. per the <a
                    href="https://en.wikipedia.org/wiki/Nuclear_Regulatory_Commission" target="_blank">U. S. Nuclear
                    Regulatory
                    Commission</a> and <a href="https://en.wikipedia.org/wiki/Black_%26_Veatch" target="_blank">Black
                    &amp;
                    Veatch
                    Consulting Engineers</a>.</p>
            <p>Earned certifications in Statistical Analysis Systems (<a
                    href="https://en.wikipedia.org/wiki/SAS_(software)" target="_blank">SAS</a>) for advanced
                graphics and advanced report
                writing.</p>
            <p>Breadth of experience allows for the melding of technologies that provides a variety of sound technical
                solutions across multiple operating platforms.</p>
            <p><a href="https://en.wikipedia.org/wiki/IBM_mainframe" target="_blank">Mainframe</a> proclivities include
                mastery of the <a href="https://en.wikipedia.org/wiki/CICS" target="_blank">CICS</a> and the <a
                    href="https://en.wikipedia.org/wiki/Time_Sharing_Option" target="_blank">TSO</a> environments, <a
                    href="https://en.wikipedia.org/wiki/Performance_measurement" target="_blank">performance
                    measurement</a>
                and
                <a href="https://en.wikipedia.org/wiki/Capacity_planning" target="_blank">capacity planning</a>,
                systems level programmimg and application development.

            </p>
            <p>To solve problems <a
                    href="https://wiki.codeblocks.org/index.php/WxSmith_tutorial:_Using_wxPanel_resources"
                    target="_blank">wxSmith</a>,
                <a href="https://wxglade.sourceforge.net/" target="_blank">wxGlade</a> or
                <a href="https://en.wikipedia.org/wiki/WxFormBuilder" target="_blank">wxFormBuilder</a> will produce
                c++, PHP
                and python source code.&nbsp; The
                resulting GUI is based on open source cross-platform <a href="" taregt="_blank">wxWidgets</a>.&nbsp;
                Codeblocks <a href="https://en.wikipedia.org/wiki/Code::Blocks" ,="" target="_blank">compiles the c++
                    source</a> code while
                the python code is handled in <a href="https://en.wikipedia.org/wiki/Visual_Studio_Code"
                    target="_blank">Visual Studio Code IDE</a>


                <br><br><a href="https://en.wikipedia.org/wiki/Gulp.js" target="_blank">Gulp</a> is used to automate the
                workflow by detecting source code changes then compiling CSS and pushing the
                resulting code with changes to the default web browser dynamically.
            </p>
            <p>Additionally <a href="https://en.wikipedia.org/wiki/Qooxdoo" target="_blank">qooxdoo</a> is invoked to
                transform the tradidional wxWidgets GUI to javascript.</p>


            <p></p>
            <!-- <a href="#" target="_blank"></a> -->
            <p>Multiple frameworks are available that include
                <a href="https://en.wikipedia.org/wiki/COBOL" target="_blank">COBOL</a>,
                <a href="https://en.wikipedia.org/wiki/Fortran" target="_blank">FORTRAN</a>, <a
                    href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">c++</a>,
                <a href="https://en.wikipedia.org/wiki/Yii" target="_blank">Yii</a>, <a
                    href="https://en.wikipedia.org/wiki/Django_(web_framework)" target="_blank">Django</a>, <a
                    href="https://en.wikipedia.org/wiki/Lazarus_(software)" target="_blank">Lazarus</a> , <a
                    href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java</a>, <a
                    href="https://en.wikipedia.org/wiki/JavaFX" target="_blank">JavaFX</a>, <a
                    href="https://en.wikipedia.org/wiki/Blazor" target="_blank">Blazor</a>, <a
                    href="https://en.wikipedia.org/wiki/MonoDevelop" target="_blank">MonoDevelop</a> and <a
                    href="https://en.wikipedia.org/wiki/Delphi_(software)" target="_blank">Delphi</a>.
                <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">c++</a> is the primary language of
                choice.
            </p>
            <p>Source Code generation is employed on a template design pattern basis. Once the target is identified
                scripting may commence.</p>
            <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            allowfullscreen></iframe>
        </div> -->
        </div>
    </div>
</div>